# Godot 4+ specific ignores
.godot/
/.vs
*.gitattributes
/GaiaCompressor/bin
/GaiaCompressor/obj
/GaiaPacker/bin/Debug/net8.0
/GaiaPacker/obj
/GaiaPacker/bin/Release/net8.0
/GaiaLib/bin/Debug/net8.0
/GaiaLib/obj
/GaiaLib/bin/Release/net8.0
/GaiaPacker/bin/Release
/GaiaLabs/.vs
/GaiaLabs/GaiaLabs.sln
